.env
/vendor/
/nbproject/private/
/.vscode/
/nbproject/
/debian/.debhelper/
/debian/smssend/
/debian/debhelper-build-stamp
/debian/smssend.substvars
/debian/smssend.debhelper.log
/debian/smssend-apache/
/debian/smssend-apache.debhelper.log
/debian/smssend-apache.substvars
